<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:text="${pageTitle}"></title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>
    <body>
        <main class="page">
            <h1 class="page__heading">
                <th:block layout:fragment="heading" />
            </h1>

            <th:block class="page__content" layout:fragment="content" />
        </main>

        <footer th:replace="fragments/footer :: footer" />
    </body>
</html>